@import "./index.css";

.inside {
  background-color: var(--secondary-color);
  border-radius: 20px;
  text-align: center;
  margin: 2vh;
  display: flex;
  flex-direction: column;
}

.whoAreWe,
.history {
  background-color: #ffffffcf;
  border-radius: 20px;
  text-align: center;
  margin-top: 5vh;
}

.creators {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.creators img {
  width: 10vw;
  height: auto;
  border-radius: 50%;
  margin: 15px 5px;
}

/* .history {
  padding: 5vh 0;
} */

.history p {
  padding: 2vh 10vh;
}

@media screen and (min-width: 600px) {
  .creators {
    flex-wrap: nowrap;
  }
  .creators img {
    width: 15vw;
  }
}
