main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}

@media screen and (min-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
