@import url(../styles/index.css);

@import url(../styles/index.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Pour inclure padding et border dans la taille totale */
}

.footer {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Laisser auto pour s'adapter au contenu */
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.footer p {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 1rem; /* Utiliser rem pour l'échelle */
}

@media (min-width: 768px) {
  .footer {
    display: none;
  }
}

/* @media (min-width: 769px) and (max-width: 1080px) {
  .footer {
    width: 100vw;
  }
} */
