.choice {
  padding: 2px;
  margin: 5px;
  border-radius: 5px;
  border: 1px, solid, white;
  background-color: white;
}

.outside {
  background-color: var(--third-color);
  border-radius: 20px;
  width: 4em;
  height: 4em;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 2.2em;
}
