section {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #f5b93f;
  align-items: center;
}

section img {
  width: 20vw;
  border-radius: 100px;
}

section p {
  font-family: var(--main-font);
}
