nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--nav-color);
  align-items: center;
  padding: 1vh;
}

nav img {
  width: 12vw;
  border-radius: 100px;
}

a {
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 1.2rem;
  color: white;
}

@media screen and (min-width: 600px) {
  nav {
    padding: 5vh;
  }
}
