nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
  align-items: center;
  padding: 5vh;
}

nav img {
  width: 20vw;
  border-radius: 100px;
}

a {
  text-decoration: none;
  font-family: var(--main-font);
}

@media screen and (min-width: 600px) {
  nav {
    padding: 5vh;
  }
}
