.Questioncontainer {
  background-color: #ffffffcf;
  border-radius: 20px;
}

.inside-question {
  background-color: var(--secondary-color);
  border-radius: 20px;
  text-align: center;
  margin: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.anwser {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 1.5rem;
}

.awnser1 {
  margin-top: 15px;
}

.awnser2 {
  margin-top: 14px;
}

.awnser3 {
  transform: translateX(6px);
  margin-top: 12px;
}
