.Questioncontainer {
  background-color: var(--third-color);
  border-radius: 20px;
  margin-bottom: 10px;
}

.inside-question {
  background-color: var(--secondary-color);
  border-radius: 20px;
  text-align: center;
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 40rem;
  height: 10rem;
}

.anwser {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 1.5rem;
}

.awnser1 {
  margin-top: 15px;
}
