body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.Questioncontainer {
  background-color: var(--third-color);
  border-radius: 20px;
}

.inside-question {
  background-color: var(--secondary-color);
  border-radius: 20px;
  text-align: center;
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 10rem;
  width: 40em;
}

.anwser {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 1.5rem;
}

.awnser1 {
  margin-top: 15px;
}

#search-select {
  width: 80%;
  max-width: 20rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media (min-width: 769px) and (max-width: 1080px) {
  .Questioncontainer {
    margin-left: 4em;
  }
}
/* MédiaQueries pour écrans inférieurs à 768px */

@media (max-width: 768px) {
  .Questioncontainer {
    margin-bottom: 8px;
    padding: 0.8rem;
    margin-top: 0;
    margin-right: 0;
  }

  .inside-question {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
  }

  .anwser {
    font-size: 1.2rem;
    text-align: center;
  }

  .awnser1 {
    margin-top: 10px;
  }
}
