.cards-container {
  background-color: var(--third-color);
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.card {
  background-color: var(--secondary-color);
  border-radius: 20px;
  text-align: center;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 18px;
  gap: 5em;
}

.sectionimage {
  width: 100%;
  height: 150px;
}

.card-image {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.sectiontexte {
  padding-right: 10px;
}
